header.header
  .container
    .row.header__row
      .col-12.col-sm-6.col-md-3.header__col
        a(href="/")
          img(src="assets/img/logo.png", alt="")
      .col-md-3.d-none.d-md-block.header__col
        ul.header__slogan
          li Рекламно-
          li производственная
          li компания
      .col-12.col-sm-6.col-md-6.header__col
        .header__contacts-list
          .header__contacts
            a.contact(href="tel:+7 (495) 663-50-72")
              span.contact__icon.contact__icon--phone1
              span.contact__title +7 (495) 663-50-72
          .header__contacts
            a.contact(href="tel:+7 (495) 663-50-72")
              span.contact__icon.contact__icon--phone2
              span.contact__title +7 (495) 663-50-72
          .header__contacts.d-none.d-md-block
            a.contact(href="mailto:zakaz@factorrus.ru")
              span.contact__icon.contact__icon--email
              span.contact__title zakaz@factorrus.ru        
    .row
      nav.top-menu.col-md-9.offset-md-3
        a.navbar-brand(href='#') 
          img(src="assets/img/icons/calc_hor.png", alt="")
        #navbarToggler
          ul.top-menu__list
            each item in menu
              if item.submenu
                li.top-menu__item.dropdown
                  a.top-menu__link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{item.title}
                  ul.dropdown-menu(aria-labelledby='')
                    each subitem in item.submenu
                      li.dropdown-item
                        a.dropdown-link( href=subitem.href ) #{subitem.title}
              else
                li.top-menu__item
                  a.top-menu__link( href=item.href ) #{item.title}      
    //- .row.header__toolbar.toolbar
    //-   .col-12.toolbar__list
    //-     .toolbar__item
    //-       img(src="assets/img/icons/calc_hor.png", alt="")
    //-     .toolbar__item
    //-       img(src="assets/img/icons/menu.png", alt="")
        
